.finite-state-machine {
  font-size: 16;
  color: black;

  .state-display {
    background-color: lightyellow;
    margin: 30px;
    width: 1380px;
    border: 1px solid;
  }

  .btn-group {
    margin: 10px;
    display: flex;
    justify-content: center;

    .btn {
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      background-color: lightgreen;
      border: none;
      transition: all 0.5s ease-in;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        text-decoration: underline;
      }

      &:focus {
        outline: 0;
      }
    } 

    .btn-reset {
      color: black;
      border: none;
      background: none;
    }
  }

  .node {
    z-index: 100;
  }

  .d-none {
    display: none;
  }

  .selected {
    animation: blink 3s ease-in-out infinite;
    -webkit-animation: blink 3s ease-in-out infinite;
    -moz-animation: blink 3s ease-in-out infinite;
    -o-animation: blink 3s ease-in-out infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes typing {
    0% {
      left: -120px;
    }
    100% {
      left: 1000px;
    }
  }
}